table {
    /* Use whatever background image (or images) you like */
    background: url("forest-background.jpg") no-repeat;
    table-layout: fixed;
}

/* Set each td size */
td {
    width: 100px;
    height: 100px;
}