table {
    /* Use whatever background image (or images) you like */
    background: url("reef.png") no-repeat;
    table-layout: fixed;
    ;
}

/* Set each td size */
td {
    width: 150px;
    height: 100px;
}
